/*
  ========================================
   Import fonts [Google Fonts]
  ========================================
*/

/* Headings */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

/* Body */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/*
  ========================================
   Custom properties
  ========================================
*/

:root {
    --clr-primary-300: hsl(321, 100%, 78%);
    --clr-primary-400: hsl(322, 100%, 66%);

    --clr-accent-400: hsl(193, 100%, 51%);

    --clr-neutral-100: hsl(207, 100%, 98%);
    --clr-neutral-200: rgb(246, 251, 255);
    --clr-neutral-900: hsl(192, 100%, 9%);

    --ff-base: "Open Sans", sans-serif;
    --ff-accent: "Poppins", sans-serif;

    --fw-regular: 400;
    --fw-semi-bold: 600;
    --fw-bold: 700;

    --fs-200: 0.8125rem;
    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.375rem;
    --fs-700: 1.5rem;
    --fs-900: 2.75rem;
    --fs-1000: 3.75rem;
}

/*
  ========================================
   CSS reset
  ========================================
*/

/* modified andy bell css reset */

/* // https://piccalil.li/blog/a-modern-css-reset */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margin */
* {
    margin: 0;
    padding: 0;
    font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
    max-width: 100%;
    display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/*
  ========================================
   Utility Classes
  ========================================
*/

.text-neutral-100 {
    color: var(--clr-neutral-100);
}

.text-neutral-900 {
    color: var(--clr-neutral-500);
}

.bg-neutral-100 {
    background: var(--clr-neutral-100);
}

.bg-neutral-900 {
    background: var(--clr-neutral-900);
}

.ff-accent {
    font-family: var(--ff-accent);
}

.fw-regular {
    font-weight: var(--fw-regular);
}

.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.fs-200 {
    font-size: var(--fs-200);
}

.fs-300 {
    font-size: var(--fs-300);
}

.fs-400 {
    font-size: var(--fs-400);
}

.fs-500 {
    font-size: var(--fs-500);
}

.fs-600 {
    font-size: var(--fs-600);
}

.fs-700 {
    font-size: var(--fs-700);
}

.fs-900 {
    font-size: var(--fs-900);
}

.fs-1000 {
    font-size: var(--fs-1000);
}

.padding-block-400 {
    padding-block: 1.5rem;
}

.padding-block-600 {
    padding-block: 2.25em;
}

.padding-block-900 {
    padding-block: 9em;
}

.text-align-center {
    text-align: center;
}

.container {
    --max-width: 1280px;
    --padding: 2.5rem;
    width: min(var(--max-width), 100% - var(--padding));
    margin: 0 auto;
}

.content-padding {
    margin-top: 4em;
    display: grid;
    gap: 2rem;
}

.margin-block {
    margin: 10em 0;
}

.alternate-bg {
    background: var(--clr-neutral-200);
}

/*
  ========================================
   General style
  ========================================
*/

body {
    color: var(--clr-neutral-900);
    font-family: var(--ff-base);
    font-size: var(--fs-400);
    font-weight: var(--fw-regular);
}

.button {
    background: var(--clr-primary-400);
    border: none;
    color: var(--clr-neutral-100);
    padding: 1em 3em;
    border-radius: 2em;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    box-shadow: hsl(220, 19%, 87%) 0px 48px 100px 0px;
}

.button:is(:hover, :focus) {
    background: var(--clr-primary-300);
}

/*
  ========================================
   Header Section
  ========================================
*/

.logo-link-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 35%;
}

.transparent-button {
    border: 1px solid var(--clr-primary-400);
    background: none;
    padding: 0.25em 1.25em;
    border-radius: 100px;
    color: var(--clr-primary-400);
    font-size: var(--fs-200);
}

.transparent-button:is(:hover, :focus) {
    border: 1px solid var(--clr-primary-300);
    color: var(--clr-primary-300);
    cursor: pointer;
}

/*
  ========================================
    Hero section
  ========================================
*/
.hero-section {
    background: url("/images/bg-section-top-mobile-1.svg") no-repeat bottom;
}

.hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 2rem;
}

.hero__illustration {
    display: grid;
    place-items: center;
    padding: 0 2em;
    margin: 3em 0;
}
.hero__card-container {
    display: grid;
    justify-items: center;
    gap: 3rem;
}

.card {
    width: 200px;
}

.card-icon {
    max-width: 20%;
}

/*
  ========================================
    Experience section 2
  ========================================
*/

.section-2 {
    background: url("/images/bg-section-bottom-mobile-1.svg") no-repeat top,
        url("/images/bg-section-top-mobile-2.svg") no-repeat bottom;
}

/*
  ========================================
    CTA section
  ========================================
*/
.cta-section {
    background: url(./images/bg-section-bottom-mobile-2.svg) no-repeat top,
        url(./images/bg-footer-top-mobile.svg) no-repeat bottom;
}

.cta {
    display: grid;
    justify-items: center;
    gap: 3rem;
}

/*
  ========================================
   Footer section
  ========================================
*/
.footer-section {
    background: var(--clr-neutral-900);
    color: var(--clr-neutral-100);
    padding-bottom: 3em;
}

.footer-container__newsletter {
    display: grid;
    gap: 2rem;
    margin-bottom: 4em;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-form__input {
    padding: 1em;
    border-radius: 10px;
}

.footer-form__button {
    align-self: flex-end;
    background: var(--clr-primary-400);
    border: none;
    color: var(--clr-neutral-100);
    padding: 0.833em 2.5em;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.footer-form__button:is(:hover, :focus) {
    background: var(--clr-primary-300);
}

.footer-container__content {
    display: grid;
    gap: 2.5rem;
}

.footer-text {
    margin-top: 1.5em;
}

.contact-info-container {
    display: grid;
    gap: 1rem;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.footer-social-links {
    list-style: none;
    display: flex;
    gap: 1rem;
}

.footer-social-links li a {
    width: 150px;
}

.fa-icon {
    color: var(--clr-neutral-100);
    font-size: 1.75rem;
}

.fa-icon:is(:hover, :focus) {
    color: var(--clr-accent-400);
}

/*
  ========================================
   Media queries
  ========================================
*/
@media (min-width: 23.5em) {
    .hero-section {
        background: url("/images/bg-section-top-desktop-1.svg") no-repeat bottom;
    }

    .section-2 {
        background: url("/images/bg-section-bottom-desktop-1.svg") no-repeat top,
            url("/images/bg-section-top-desktop-2.svg") no-repeat bottom;
    }

    .cta-section {
        background: url(./images/bg-section-bottom-desktop-2.svg) no-repeat top,
            url(./images/bg-footer-top-desktop.svg) no-repeat bottom;
    }
}

@media (min-width: 43.75em) {
    .even-columns {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .even-columns > * {
        flex: 1;
    }

    .hero__content p {
        width: 55ch;
    }
    .card {
        max-width: 200px;
    }

    .flex-group {
        display: flex;
        align-items: center;
    }

    .flex-group > * {
        flex-basis: 100%;
    }

    .illustration-alternate-order {
        order: 1;
    }
    .cta-section {
        padding: 15em 0;
    }

    .footer-container {
        display: flex;
        align-items: center;
        gap: 11rem;
    }
}
